* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;

  --color-dark: #1f2937;
  --color-light: #f9faf8;
  --color-secondary-text: #e5e7eb;
  --color-accent: #3882f6;

  --font-size-logo: 24px;
  --font-size-hero: 48px;
  --font-size-secondary: 18px;
  --font-size-heading: 36px;
  --font-size-quote: 36px;

  --font-weight-hero: 900;
  --font-weight-heading: 900;
  --font-weight-quote: 300;
}

body {
  font-family: var(--font-family);
}

/* Header */
.header .container {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}

.header__logo {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-logo);
  color: var(--color-light);
}

.header__navbar {
  display: flex;
  gap: 24px;
  list-style: none;
}

.header__nav-item {
  font-size: var(--font-size-secondary);
  color: var(--color-secondary-text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 24px;
}

/* HERO */
.hero {
  background-color: var(--color-dark);
}

.hero__title {
  font-weight: var(--font-weight-hero);
  font-size: var(--font-size-hero);
  color: var(--color-light);
}

.hero__text {
  font-size: var(--font-size-secondary);
  color: var(--color-secondary-text);
}

.hero .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  gap: 8px;
  padding-right: 270px;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 270px;
}

.hero-texts-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

.sign-up-btn {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 22px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sign-up-btn:hover {
  background-color: #306fd1;
}

/* Information Section */
.information .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-right: 248px;
  padding-bottom: 92px;
  padding-top: 32px;
  padding-left: 248px;
  background-color: var(--color-light);
}

.container__cards {
  display: flex;
}

figure .card-image {
  display: block;
  margin: auto;
}

.container__cards figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

figure .card-image-text {
  text-align: center;
  font-weight: 300;
  padding-left: 72px;
  padding-right: 72px;
}

.information__title {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-heading);
  color: var(--color-dark);
}

.card-image-text {
  font-size: var(--font-size-secondary);
  color: var(--color-dark);
}

/* Quote */
.quote {
  background-color: var(--color-secondary-text);
  font-size: var(--font-size-quote);
  color: var(--color-dark);
}

.quote .container {
  font-weight: var(--font-weight-quote);
  font-size: var(--font-size-quote);
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.quote .quote__text {
  font-style: italic;
}

.quote .quote__name {
  align-self: flex-end;
  font-weight: bold;
}
